/* smaller desktops - below 992 px (992 / 16 ) */
@media (max-width: 62em) {
  .hero-section {
    height: auto;
    display: flex;
    flex-direction: column;
  }
  header {
    position: static; /* removes absolute positioning */
    top: auto;
    transform: none; /* removes vertical centering */
    padding: 48px 0 0 0;
    width: 100%;
  }

  h1 {
    font-size: 38px;
  }
  h2 {
    font-size: 34px;
  }

  .btn--header {
    font-size: 16px;
    width: 80%;
  }

  .grid-services {
    justify-content: flex-start;
    gap: 20px;
  }

  .services-card {
    padding: 20px 15px;
  }

  .project-section-object,
  .project-section-img {
    height: 112.5px;
    width: 150px;
  }

  /* FAQ */
  .accordion-item {
    width: 90%;
  }

  .corousel-container {
    width: 95%;
  }

  .corousel-dots {
    bottom: -10%;
  }
}

/* smaller desktops - below 840 px (840 / 16 ) */
@media (max-width: 52em) {
  .nav-links {
    gap: 30px;
  }

  header {
    grid-template-columns: 1fr;
    row-gap: 48px;
    /* text-align: center; */
  }

  .header-text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .header-text {
    width: 75%;
  }

  .btn--header {
    width: 40%;
  }

  .grid-3-cols {
    column-gap: 40px;
  }

  .services-card {
    height: 350px;
  }

  /* table */
  thead th {
    width: auto;
  }

  .project-section-object,
  .project-section-img {
    display: none;
  }

  /* testimonials */
  .corousel-container {
    width: 90%;
    padding: 20px 35px 20px 85px;
  }

  .corousel-testimonial-quote {
    font-size: 16px;
  }
}

/* below 768 px */
@media (max-width: 48em) {
  .nav-links {
    gap: 20px;
  }

  .btn--header {
    width: 45%;
  }

  /* features */
  .grid-3-cols {
    grid-template-columns: 1fr;
    row-gap: 63px;
  }

  /* services */
  .grid-services {
    flex-direction: column;
    gap: 48px;
  }

  .services-card {
    width: 100%;
    height: 300px;
  }

  /* table */
  .table-colunm--title {
    font-size: 16px;
  }

  .table-colunm--location {
    font-size: 14px;
  }

  /* testimonials */
  .corousel-container {
    flex-direction: column;
    padding: 50px 70px;
    gap: 30px;
  }
  .corousel-container img {
    height: 160px;
    transform: translateY(-50px) scale(1.6);
  }

  .corousel-dots {
    bottom: 0;
    gap: 30px;
  }

  /* FAQ */
  .faq-number,
  .faq-question {
    font-size: 20px;
  }

  /* mobile nav */
  .bnt-mobile-nav {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navigation {
    position: relative;
  }
  .nav-links {
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: -32px;
    width: 100vw;
    height: 100vh;
    z-index: 99;

    flex-direction: column;
    justify-content: center;
    gap: 60px;
    font-size: 24px;

    /* trick to hide an element as cannot use 'display: none' as then animation cannot be applied */
    /* step 1 of 3 - hide it visibly */
    opacity: 0;
    transition: all 0.5s ease-in;

    /*  step 2 of 3 - make it unaccessible via keyboard and mouse  */
    pointer-events: none;

    /*  step 3 of 3 - hide from screen readers  */
    visibility: hidden;

    /* for fly-in effect */
    transform: translateY(-100%);
  }

  .nav-open .nav-links {
    /* setting back all the visibility properties */
    opacity: 1;
    pointer-events: auto;
    visibility: visible;

    /* for fly-in effect */
    transform: translateY(0);
  }

  .icon-mobile-nav[name='btn-close'] {
    display: none;
  }

  .nav-open .icon-mobile-nav[name='btn-close'] {
    display: block;
  }
  .nav-open .icon-mobile-nav[name='btn-open'] {
    display: none;
  }
}

/* for Phones - below 544px*/
@media (max-width: 34em) {
  .container {
    padding: 0 24px;
  }

  .header-text {
    width: 90%;
  }
  .btn--header {
    width: 85%;
  }

  h2 {
    font-size: 30px;
  }

  /* table */
  th,
  td {
    padding: 30px 10px;
  }

  .table-colunm--link {
    justify-content: center;
  }

  .table-colunm--location {
    display: none;
  }

  .corousel-container {
    padding: 50px 50px;
    width: 80%;
  }

  .corousel-container img {
    height: 150px;
  }

  .accordion-item {
    column-gap: 20px;
    padding: 20px;
  }

  .faq-answer {
    grid-column: 1 / -1;
  }

  .nav-links {
    left: -24px;
    gap: 50px;
    font-size: 20px;
  }
}

/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/
