/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/* 
MAIN COLOR: #badc58
LIGHTER MAIN: #c8e379
Green text: #4a5823
DARK BACKGROUND: #262e32
TEXT DARK: #0f1214
*/

:root {
  /* color system */
  --dark-text: #0f1214;
  --grey-text: #7d8284;
  --green-main: #badc58;
  --green-lighter: #c8e379;
  --green-secondary: #829a3e;
  --green-dark: #4a5823;
  --green-superdark: #252c12;
  --blue-main: #22a6b3;
  --background-dark: #262e32;

  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* resetting default settings */

*:focus {
  outline: none;
  box-shadow: 0 0 0 0.3rem #22a7b384;
}

a {
  text-decoration: none;
  color: inherit;
  border-radius: 4px;
}

button {
  border-radius: 4px;
}

/* ------------------------ */
/* GENERAL STYLES */
/* ------------------------ */
body {
  font-family: 'Inter', sans-serif;
  color: var(--dark-text);
  border-bottom: 8px solid var(--green-main);
}

.container {
  max-width: 992px;
  padding: 0 32px;
  margin: 0 auto;
}

section {
  padding: 96px 0 0 0;
  transition: transform 1s, opacity 1s;
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}

h2 {
  margin-bottom: 48px;
  font-size: 43px;
  font-weight: 600;
  letter-spacing: -0.5px;
}

img {
  border-radius: 12px;
}

.grid-3-cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 60px;
}

.btn:link,
.btn:visited {
  background-color: var(--green-main);
  color: var(--dark-text);
  text-decoration: none;
  display: flex;
  align-items: center;
}

.btn:hover,
.btn:active {
  background-color: var(--green-lighter);
}

.hidden {
  display: none;
}

a {
  text-decoration: none;
}

/* ------------------------ */
/* COMPONENT STYLES */
/* ------------------------ */

/* HERO SECTION */
.hero-section {
  position: relative;
  height: 100vh;
}

header {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

/* NAVIGATION */
.navigation {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 997;
}

.nav-logo {
  font-size: 25px;
  font-weight: 600;
  z-index: 998;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 60px;
}

.nav-links a:link,
.nav-links a:visited {
  color: var(--dark-text);
}

.nav-links a:hover,
.nav-links a:active {
  color: var(--grey-text);
}

.nav-links a:last-child {
  display: flex;
  align-items: center;
  gap: 10px;

  padding: 10px 20px;
  border-radius: 100px;
  background-color: var(--green-main);
}

.nav-links a:last-child:hover,
.nav-links a:last-child:active {
  color: var(--dark-text);
  background-color: var(--green-lighter);
}

/* HEADER */
header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 80px;
}

.btn--header {
  /* justify-content: space-between; */
  justify-content: center;
  gap: 10px;
  border-radius: 100px;
  padding: 16px 32px;
  text-transform: uppercase;
  font-size: 18px;
  width: 70%;
}

.header-text-box {
  align-self: center;
}

h1 {
  font-size: 50px;
  font-weight: 600;
  line-height: 1.1;
  letter-spacing: -1px;
  margin-bottom: 32px;
}

.header-text {
  margin-bottom: 32px;
  font-size: 17px;
  line-height: 1.5;
}

img {
  width: 100%;
}

/* FEATURES */
.features-icon {
  margin-bottom: 24px;
  stroke: var(--dark-text);
}

.features-title {
  margin-bottom: 16px;
  font-size: 20px;
  line-height: 1.2;
}

.features-text {
  font-size: 17px;
  line-height: 1.5;
}

/* TESTIMONIAL */
.testimonial-section {
  background-color: var(--green-main);
  color: var(--dark-text);
  padding: 24px;
  border-radius: 12px;
}

.testimonial-box {
  grid-column: 2 / -1;
  align-self: center;
}

.testimonial-box h3 {
  background-color: var(--green-main);
  border-radius: 12px;
  margin-bottom: 24px;
  font-size: 30px;
  text-align: center;
  padding: 8px 16px;
}

.testimonial-text {
  font-style: italic;
  margin-bottom: 24px;
  font-size: 17px;
  line-height: 1.5;
  color: var(--green-superdark);
}

.testimonial-author {
  color: var(--green-dark);
}

/* SOLUTIONS - HIDDEN*/
.solution {
  box-shadow: 0 20px 40px 0 rgb(0, 0, 0, 0.07);
  border-radius: 12px;
}

.solution img {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.solution-box {
  padding: 32px;
}

h3 {
  margin-bottom: 34px;
  font-size: 20px;
  font-weight: 600;
}

.solution-details {
  list-style: none;
  margin-bottom: 48px;
}

.solution-details li {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 16px;
}

.solution-details li:last-child {
  margin-bottom: 0;
}

.solution-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
}

/* SOLUTION - 2 - IN FINAL DESPLAY*/

.grid-services {
  display: flex;
  align-items: center;
  justify-content: space-between;

  /* display: grid;
  grid-template-columns: repeat(3, 1fr); */
}

.services-card {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  position: relative;
  width: 300px;
  height: 400px;
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  overflow: hidden;
  color: white;

  padding: 20px;
  box-shadow: 0 20px 40px 0 rgb(0, 0, 0, 0.07);
}

.services-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: rgba(31, 31, 31, 0.3); */
  background: linear-gradient(
    to top,
    rgba(31, 31, 31, 0.7),
    rgba(0, 0, 0, 0) 70%
  ); /* Adjust opacity to control darkness */
  z-index: 1;
}

.services-card * {
  position: relative;
  z-index: 2; /* Ensure text stays above the overlay */
}

.services-card--1 {
  background-image: url('../img/green-garden.png');
}

.services-card--2 {
  background-image: url('../img/green-water.png');
}

.services-card--3 {
  background-image: url('../img/green-infr.png');
}

.btn--services {
  /* pointer-events: none; */

  align-self: flex-end;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  justify-content: center;
}

.btn--services:focus {
  box-shadow: 0 0 0 0.3rem #ffffffea;
}

.services-title {
  margin-bottom: 0;
}

.services-details {
  list-style: none;
}

.services-details li {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 8px;
}
.services-details li:last-child {
  margin-bottom: 0px;
}

/* FAQ */
.accordion-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.accordion-item {
  cursor: pointer;

  border-radius: 5px;
  color: var(--grey-text);

  width: 850px;
  /* margin: 0 auto 50px auto; */
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.1);
  padding: 25px;

  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 25px;
  row-gap: 30px;
  align-items: center;
}

.accordion-item:hover {
  color: var(--dark-text);
}

.active {
  border-top: 10px solid var(--green-main);
  color: var(--dark-text);
}

.active .faq-answer {
  display: block;
}

.active .faq-icon {
  transform: rotate(180deg);
}

.faq-number,
.faq-question {
  font-size: 24px;
  font-weight: 500;
}

.faq-icon {
  width: 24px;
  height: 24px;
}

.faq-answer {
  line-height: 1.6;
  margin-bottom: 24px;
  grid-column: 2;
  display: none;
}

.faq-answer p strong {
  border-radius: 30px;
  padding: 0 10px;
  background-color: var(--green-lighter);
  color: var(--green-superdark);
}

/* FOOTER */
footer {
  padding: 96px 0 48px 0;
  font-size: 12px;
  color: var(--green-superdark);
}

/* TESTIMONIALS - corousel */
.corousel-container {
  width: 850px;
  background-color: var(--green-main);
  margin: 100px auto;
  border-radius: 12px;
  color: var(--green-superdark);
  padding: 30px 45px 30px 95px;

  display: flex;
  align-items: center;
  gap: 90px;

  position: relative;
}

.corousel-container img {
  height: 200px;
  width: auto;
  transform: scale(1.5);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
}

.corousel-testimonial-text {
}

.corousel-testimonial-quote {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.3;
  margin-bottom: 20px;
}
.corousel-testimonial-author {
  font-size: 15px;
  color: #4a5823;
  margin-bottom: 3px;
}

.corousel-testimonial-jobtitle {
  font-size: 10px;
  color: #4a5823;
}

.btn-corousel {
  cursor: pointer;
  border: none;
  background-color: white;
  width: 40px;
  height: 40px;
  position: absolute;
  border-radius: 50%;
  box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.2);

  display: flex;
  align-items: center;
  justify-content: center;

  top: 50%;
}

.btn-corousel--left {
  left: 0;
  transform: translate(-50%, -50%);
}

.btn-corousel--right {
  right: 0;
  transform: translate(50%, -50%);
}

.btn-corousel svg {
  height: 24px;
  width: 24px;
}

.corousel-dots {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 32px);

  display: flex;
  gap: 10px;
}

.btn-dot {
  cursor: pointer;
  height: 12px;
  width: 12px;
  background-color: white;
  border: 1.5px solid var(--green-secondary);
  border-radius: 50%;
}

.dot-active {
  background-color: var(--green-secondary);
}

/* TABLE COMPONENT */
.table-container {
  position: relative;
  width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

table tr,
thead {
  border-bottom: 1px solid rgb(189, 187, 187);
}

table tr:last-child {
  border-bottom: none;
}

thead th {
  width: 25%;
  font-size: 12px;
}

th,
td {
  padding: 20px 30px 20px 0;
}

.table-colunm--title {
  font-size: 18px;
}

.table-colunm--tag {
  font-size: 12px;
  color: #5c5c5c;
}

.table-colunm--location {
  font-size: 16px;
}

.table-colunm--link {
  display: flex;
  justify-content: flex-end;
}

.table-colunm--link a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #f2f2f2;
}

.table-colunm--link a:hover {
  border: 1px dashed #878787;
  background-color: white;
}

.table-colunm--link a svg {
  stroke: 4px;
  width: 15px;
  height: 15px;
}

.project-section-object,
.project-section-img {
  position: absolute;
  right: 12%;
  bottom: 25%;
  border-radius: 10px;
  height: 150px;
  width: 200px;
}
.project-section-object {
  background-color: var(--green-main);
  transform: rotate(-5grad);
}

.project-section-img {
  transform: rotate(-15grad);
}

/* mobile navigation */
.bnt-mobile-nav {
  display: none;
  background-color: white;
  color: var(--dark-text);
  border: none;
  z-index: 9999;
}
